<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  {{ entity_print_css }}
</head>
<body>
<img src="{{ base_path ~ directory }}/img/enrope_whitebg.png" style="height: 100px;">
<h1>{{ content.title }}</h1>
<div class="page">
  {{ portfolio_title }}
  {{ content }}
</div>
</body>
</html>
