<!-- Header -->
{% include '@enrope/parts/header.html.twig' %}

<body>

{{ attach_library('enrope/userreport') }}

<!-- Navigation -->
{{ main_menu }}

<!-- Page Header -->
<header class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>{{ current_page_title }}</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
            {{ page.breadcrumb }}
            {{ page.content }}
        </div>
    </div>
</div>

<hr>


<!-- Footer -->
{% include '@enrope/parts/footer.html.twig' %}


</body>

</html>
