<!-- Header -->
{% include '@enrope/parts/header.html.twig' %}

<body>

{{ attach_library('enrope/userreport') }}

{{ attach_library('enrope/group') }}

{% include '@enrope/parts/main_menu.html.twig' %}

<!-- Page Header -->



<header class="masthead cover-img e-portfolio">



    <div class="container">

        <div class="row">

            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading e-portfolio">
                    <h1>{{ page['#title'] }}</h1>
                        <h3>by <a href="{{ path('entity.user.canonical', {'user': node.getOwnerId}) }}">{{ node.getOwner.field_first_name.value }} {{ node.getOwner.field_last_name.value }}  </a></h3>
                </div>
            </div>
        </div>
    </div>


</header>

{#<div class="p-0">#}
{#  {{ page.content.enrope_local_tasks }}#}
{#</div>#}

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto">
            <div{{ attributes }}>

                {{ title_prefix }}
                {% if not page %}
                    <h2{{ title_attributes }}>
                        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
                    </h2>
                {% endif %}
                {{ title_suffix }}


                <div{{ content_attributes }}>

{#                    {{ page.content|without('enrope_local_tasks') }}#}
                    {{ page.content }}
                </div>

                <div id="cover_image" style="display: none;">{{ file_url(node.field_image.entity.uri.value) }}</div>
            </div>

        </div>
    </div>
</div>

<hr>


<!-- Footer -->
{% include '@enrope/parts/footer.html.twig' %}


</body>

</html>




