<!-- Header -->
{% include '@enrope/parts/header.html.twig' %}

<body>

{{ attach_library('enrope/userreport') }}

{% include '@enrope/parts/main_menu.html.twig' %}

<!-- Page Header -->
<header class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>{{ page['#title'] }}</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% if page.highlighted %}
  <div class="highlighted">
    <aside class="{{ container }} section clearfix" role="complementary">
      {{ page.highlighted }}
    </aside>
  </div>
{% endif %}
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
            {{ page.breadcrumb }}
            {{ page.content }}
        </div>
    </div>
</div>

<hr>


<!-- Footer -->
{% include '@enrope/parts/footer.html.twig' %}


</body>

</html>
