{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
{#<article{{ attributes.addClass('profile') }}>#}
{#    {% if content %}#}
{#        {{- content -}}#}
{#    {% endif %}#}
{#</article>#}


<article{{ attributes.addClass('profile') }}>
    {% if content %}

        <div class="jumbotron">
            {% if (user.user_picture.entity.fileuri != NULL) %}
                <img src="{{ file_url(user.user_picture.entity.fileuri) }}" class="img-thumbnail rounded-circle">
            {% else %}
                <img src="{{ url('<front>') }}/{{ directory }}/img/user.png" class="img-thumbnail rounded-circle">
            {% endif %}

            <h2 style="margin-top: 15px">{{ user.field_first_name.value }} {{ user.field_last_name.value }}</h2>
            <p>
                {{ content }}
            </p>


            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h3>{{ (user.field_affiliation.fielddefinition.label) }}</h3>
                    <p>{{ user.field_affiliation.value }}</p>
                </li>

                <li class="list-group-item">
                    <h3>{{ (user.field_languages_spoken.fielddefinition.label) }}</h3>


                    {% if user.field_languages_spoken %}
                        <ul>
                            {% for key in user.field_languages_spoken %}
                                <li>{{ kint(key) }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                </li>

                <li class="list-group-item">
                    <h3>{{ (user.field_research_topic.fielddefinition.label) }}</h3>
                    <p>{{ user.field_research_topic.value }}</p>
                </li>

                <li class="list-group-item">
                    <h3>{{ (user.field_research_interests_fields.fielddefinition.label) }}</h3>
                    <p>{{ user.field_research_interests_fields.value }}</p>
                </li>

                <li class="list-group-item">
                    <h3>{{ (user.field_date_of_beginning_research.fielddefinition.label) }}</h3>
                    <p>{{ user.field_date_of_beginning_research.value }}</p>
                </li>

                <li class="list-group-item">
                    <h3>{{ (user.field_expected_end_date_of_resea.fielddefinition.label) }}</h3>
                    <p>{{ user.field_expected_end_date_of_resea.value }}</p>
                </li>

                <li class="list-group-item">
                    <h3>{{ (user.field_type_of_the_research_proje.fielddefinition.label) }}</h3>


                    <p>{{ user.field_type_of_the_research_proje.value }}</p>
                </li>

                <li class="list-group-item">
                    <h3>{{ (user.field_strengths.fielddefinition.label) }}</h3>
                    <p>{{ user.field_strengths.value }}</p>
                </li>


            </ul>
        </div>

    {% endif %}
</article>
