{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
{# <article{{ attributes.addClass('profile') }}> #}
{# {% if content %} #}
{# {{- content -}} #}
{# {% endif %} #}
{# </article> #}


<article{{ attributes.addClass('profile') }}>
    {% if content %}

        <div class="jumbotron">
            {% if (user.user_picture.entity.fileuri != NULL) %}
                <img src="{{ file_url(user.user_picture.entity.fileuri) }}" class="img-thumbnail rounded-circle">
            {% else %}
                <img src="{{ url('<front>') }}/{{ directory }}/img/user.png" class="img-thumbnail rounded-circle">
            {% endif %}

            <h2 style="margin-top: 15px">{{ user.field_first_name.value }} {{ user.field_last_name.value }}</h2>
            <p class="text-center">
                <a href="mailto:{{ user.email }}">{{ user.email }}</a>
            </p>

            {% if current_user !=  user.id %}
                <div class="row justify-content-center" style="margin-bottom: 15px">
                    {% if follow_button.type ==  'follow' %}

                        <a class="btn btn-success"
                           href="{{ path('enrope_follow_user.follow',{'user':  current_user, 'user_to_follow': user.id }) }}">{{ 'Follow'|t }}</a>
                    {% elseif follow_button.type ==  'unfollow' %}
                        <a class="btn btn-danger"
                           href="{{ path('enrope_follow_user.unfollow',{'user':  current_user, 'user_to_unfollow': user.id }) }}">{{ 'Unfollow'|t }}</a>
                    {% endif %}
                </div>
            {% endif %}

            <ul class="list-group list-group-flush">

                {{ content }}

            </ul>


        </div>

    {% endif %}
</article>
